@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 16px;
}
